/* Sitewide styles, refactor styles from other stylesheets into this stylesheet */

@import url('normalize.css');

body{
	font-family: 'Abel',sans-serif;
}

/* Nav switcher toggle */
nav section h2:hover {
    cursor: pointer;
}

nav section h2.hide ~ a {
    display: none;
}

nav section h2.hide::after {
    display: inline-block;
    transform: rotate(90deg);
}

nav section h2::after {
/*    content: url('_img/ic_arrow_drop_down_black_24px.svg');*/
    content: url("../_img/ic_arrow_drop_down_black_24px.svg");
    position: relative;
    float: right;
}