/* Sitewide styles, refactor styles from other stylesheets into this stylesheet */

@import url('normalize.css');

body{
	font-family: 'Abel',sans-serif;
}

/* Nav switcher toggle */
nav section h2:hover {
    cursor: pointer;
}

nav section h2.hide ~ a {
    display: none;
}